*.log
*.csv
*.exe
*.pdf
*.pprof
.DS_Store
/*.txt
/build/*
*.out
!.keep
out.json
debug.html
internal/characters/replace.txt
.idea
*.wasm
**.zip
./cmd/gcsim/*.exe
./cmd/gcsim/gsim.exe
./cmd/gcsim/gsim
./cmd/gcsim/*.html
./cmd/gcsim/tests
./cmd/gcsim/*.gz
./cmd/gcsim/*.json
cmd/gcsim/gcsim
!release-notes.txt
**/node_modules
.env
**/protos_gen
keys.json
/app/*
cmd/gcsim/run_optimizer_full.bat
backend/cmd/compute/compute
backend/docker/hash.txt
backend/docker/binary
computebin
.cache
.npm
