*.log
*.csv
*.exe
*.pdf
*.pprof
.DS_Store
/*.txt
*.out
!.keep
out.json
debug.html
internal/characters/replace.txt
.idea
*.wasm
**.zip
./cmd/gcsim/*.exe
./cmd/gcsim/gsim.exe
./cmd/gcsim/gsim
./cmd/gcsim/*.html
./cmd/gcsim/tests
./cmd/gcsim/*.gz
./cmd/gcsim/*.json
cmd/gcsim/gcsim
!release-notes.txt
**/node_modules
.env
.envrc
**/protos_gen
keys.json
tagger_mapping.json
/app/*
cmd/gcsim/run_optimizer_full.bat
backend/cmd/compute/compute
backend/docker/hash.txt
backend/docker/binary
computebin
.cache
.npm
.task/
.venv
# release binaries to avoid tinting repo
gcsim_windows_amd64.exe
gcsim_darwin_arm64
gcsim_darwin_amd64
gcsim_linux_amd64
server_windows_amd64.exe
server_darwin_arm64
server_darwin_amd64
server_linux_amd64
.venv