@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* width: 540px; */
  /* height: 250px; */
  background-color: #1c2127;
}

.card {
  position: relative;
  height: 140px;
}
.equip {
  position: absolute;
  bottom: -5px;
  right: -7px;
  width: 91px;
}
