body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottom-border {
  border-bottom-color: black;
  border-bottom-width: 2px;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

/** Setting margins */
@page {
  margin: 2cm;
}

/* Or: */
@page :left {
  margin: 1cm;
}

@page :right {
  margin: 1cm;
}
